<div class="footer-container">
  <h2>let's get contact</h2>
  <span class="seperator"></span>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi assumenda deserunt
    <br>dolorum repellat deleniti corrupti</p>
  <div class="contact-div">
    <div class="contact-info">
      <i class="fa fa-phone fa-2x"></i>
      <span>123 456 789</span>
    </div>
    <div class="contact-info">
      <i class="fa fa-envelope-open-o fa-2x"></i>
      <span>123 456 789</span>
    </div>
  </div>
</div>
