<div class="service-container">
  <div class="service-header">
    <h2>All Your Service</h2>
  </div>
  <span></span>
  <div class="section-container">
    <div class="sec">
      <i class="fa fa-heart fa-2x"></i>
      <h3>
        any header
      </h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam asperiores architecto adipisci odio veritatis? Consectetur</p>
    </div>
    <div class="sec">
      <i class="fa fa-envelope-open fa-2x"></i>
      <h3>
        any header
      </h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam asperiores architecto adipisci odio veritatis? Consectetur</p>
    </div>
    <div class="sec">
      <i class="fa fa-heart fa-2x"></i>
      <h3>
        any header
      </h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam asperiores architecto adipisci odio veritatis? Consectetur</p>
    </div>
    <div class="sec">
      <i class="fa fa-envelope-open fa-2x"></i>
      <h3>
        any header
      </h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam asperiores architecto adipisci odio veritatis? Consecteturt</p>
    </div>
  </div>
</div>
