<div class="need-container">
  <div class="need">
    <div class="center-screen">
      <div class="header-need">
        <h3>sit amet consectetur adipisicing elit</h3>
      </div>
      <span></span>
      <div class="paragraph">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minus tenetur
          <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minus tenetur
          <br> ab quis voluptas reiciendis vero</p>
      </div>
      <button class="">read more</button>
    </div>
  </div>
</div>
